
h1.abouth1{
    font-size: 45px;
}

h2.abouth2{
    color: black;
    text-align: center;
    padding-top: 0;
    margin: 0 20px; 
}

.about p{
    padding: 20px 40px;
    text-align: justify;
    /* background-color: hsl(205, 8%, 89%); */
}

@media screen and (max-width: 600px){
     h1.abouth1{
         font-size: 30px;
     }

    section.hero{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        margin: auto;   
        position: relative;
        text-align: center;
        height: 500px;
    }
    .contactbutton{
        position: relative;
        align-content: center;
    }
}

@media screen and (max-width: 450px){
    h1.abouth1{
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

   section.hero{

       height: 450px;
   }
}