
h1.abouth1{
    /* background-color: transparent;
    color: #000;
    text-shadow: 0.5px 1px yellowgreen; */
    /* padding-top: 20px; */
    font-size: 45px;
    /* margin-top: 0; */
}

h2.abouth2{
    color: black;
    /* bottom: 50%; */
    text-align: center;
    /* border: 5px solid red; */
}

.about p{
    padding: 20px 40px;
    text-align: justify;
}

@media screen and (max-width: 600px){
     h1.abouth1{
         font-size: 30px;
     }

    section.hero{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        margin: auto;   
        position: relative;
        text-align: center;
        height: 500px;
    }
    .contactbutton{
        position: relative;
        align-content: center;
    }
}

@media screen and (max-width: 450px){
    h1.abouth1{
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

   section.hero{

       height: 450px;
   }
}