.contactform{
    background-color: whitesmoke;
    color:black;
    text-align: left;
    margin-left: 2%;
}

section.contactform{
    margin-bottom: 500px;
}
textarea {
        resize:none;
        width: 600px;
        height: 150px;
        background-color: whitesmoke;
        margin-right:30%;
        width: 80%;


    }
#sub {
        width: 10em;  height: 3em;
        font-size:30px;

    }

.inputbox{
    width: 80%;
}