.contactform{
    background-color: whitesmoke;
    color:black;
    text-align: left;
}

section.contactform{
    margin-bottom: 500px;
}
textarea {
        resize:none;
        width: 600px;
        height: 150px;
        background-color: whitesmoke;
        margin-right:30%;


    }
#sub {
        width: 10em;  height: 3em;
        font-size:30px;

    }

.inputbox{
    width: 100%;
    margin-right:80%;
    text-align:left;

}
#labels{

 margin-right:80%;
}
