html {
    scroll-behavior: smooth;
}
body {  
    text-align: center;
    background-color: whitesmoke;
    font-family:'Work Sans' 
    ;font-size:22px;
    padding: 0;
    margin: 0;
    color: black;
    margin-bottom: 100px;
    margin-top: 57px;
}

section {
    background-color: hsl(205, 16%, 70%);
    /* background-color: blue; */
}


p{
    color:black;
    text-align: center;
}


.text-container {
    background-color: hsl(205, 8%, 89%);
}

h1 {
    margin-top: 30px;
    padding-top: 60px;
}

h2 {
    margin-top: 60px;
    padding-top: 60px;
}