h1{
    color:whitesmoke;
    background-color:  #00ccff
    ;

}
body{
    background-color: whitesmoke;
    font-family:'Work Sans' 
    ;font-size:22px;
}
p{
    color:black;
    text-align: center;
}
h2{
    color:black;
}

.titlestyle{

}

.formstyle{
    
}

.hero-inner{
    background-image: url(/home/morad/Haifa5/allimg.jpeg);
    margin: auto;
    background-size: cover;
    height: 500px;
    width: auto;
}

div.hero{
    width: 100%;
}