h1{
    /* color:whitesmoke;
    background-color:  #00ccff; */
    margin-top: 0;

}
body{
    background-color: whitesmoke;
    font-family:'Work Sans' 
    ;font-size:22px;
    padding: 0;
    margin: 0;
    color: black;
    margin-bottom: 100px;
}
p{
    color:black;
    text-align: center;
}

.contactform{
    background-color: whitesmoke;
    color:black;
}

section.hero{
    background-image: url(https://github.com/WebAhead5/Haifa5/blob/master/img/allimg.jpeg?raw=true);
    margin: auto;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    text-align: center;
    position: relative;
    justify-content: center;
    top: 0;
}

div.hero{
    width: 100%;
    box-sizing: border-box;
}

h1.abouth1{
    /* background-color: transparent;
    color: #000;
    text-shadow: 0.5px 1px yellowgreen; */
    padding-top: 20px;
    font-size: 45px;
}

div.blurcontainer{
    border-color: transparent;
    /* padding-top: 120px; */
    justify-content: center;
    backdrop-filter: blur(10px);
    
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


h2.abouth2{
    color: black;
    /* bottom: 50%; */
    text-align: center;
    /* border: 5px solid red; */

}

a.contactbutton{
    color: black;
    align-content: center;
    /* border: 5px solid blue; */

}


@media screen and (max-width: 600px){
    section.hero{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        margin: auto;   
        position: relative;
        text-align: center;
        height: 450px;
    }
    .contactbutton{
        position: relative;
        align-content: center;
    }
     h1.abouth1{
         font-size: 30px;

     }

}
