
ul.nav {
    list-style-type: none; /*removes dots. */
    margin: 0;
padding:0;
    background-color: aqua  ;
    overflow:hidden;
    background: none;
    position: fixed;
    top:0px;
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 18px 16px;
        text-decoration: none;
        font-size: 17px;
    bottom: 0px;
    width: 100%;
}
ul.nav li a {
    color: black;
    text-decoration: none;
  }

  li{
    float: right;
}
li a{
    display:block;
    padding: 14px 16px;
    text-align: center;
}

li a:hover:not(.active){
    background-color: gold;
}

.active{
    background-color: gold;
} 

@media screen and (max-width: 600px){
   ul.nav li.left,
    ul.nav {
        float: none;
        bottom: 0;
        top: unset;
    }
    ul.nav li.right,
    ul.nav li {float: none;

    margin-bottom: 40px;
}
}

