
ul.nav {
    list-style-type: none; /*removes dots. */
    margin: 0;
    padding:0;

    overflow:hidden;
    position: fixed;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold ;

    width: 100%;


    box-sizing: border-box;

    backdrop-filter: blur(5px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);

    /* background: none; */

}
ul.nav li a {
    color: black;
    text-decoration: none;
  }

  li{
    float: right;
}
li a{
    display:block;
    padding: 14px 16px;
    text-align: center;
}

li a:hover:not(.active){
    background-color: gold;
    background-color: hsl(205, 16%, 70%);
    background-color: hsl(205, 8%, 89%);
    background-color: hsla(205, 8%, 89%, 50%);
    background-color: hsla(205, 16%, 70%, 50%);
}

.active{
    background-color: gold;

} 

@media only screen and (min-width: 600px){

    ul.nav {
        top: 0;
/* 1150 height before. */
    }

}

@media only screen and (max-width: 600px){
    ul.nav {
        bottom: 0;

        border-top: 2px solid black;
    }
   }
