.member p {
	text-align: justify;
	margin: 10px;
}

@media only screen and (max-width: 1200px) {
	#slider {
		overflow: hidden;
	}
	
	#slider figure {
		position: relative;
		width: 500%;
		margin: 0;
		left: 0;
		animation: 5s slider infinite;
	}
	#slider figure div {
		width: 20%;
		float: left;
	}
	
	@keyframes slider {
		0% {
			left: 0;
		}
		20% {
			left: 0;
		}
		25% {
			left: -100%;
		}
		45% {
			left: -100%;
		}
		50% {
			left: -200%;
		}
		70% {
			left: -200%;
		}
		75% {
			left: -300%;
		}
		95% {
			left: -300%;
		}
		100% {
			left: -400%;
		}
	}
	
	.member > img  {
		width: 100%;
		height: 700px;
		object-fit: cover;
		object-position: 50% 50%;
		/* max-width: 20%; */
	}
}

@media only screen and (min-width: 1200px){


	figure {
		display: flex;
		flex-wrap: wrap;
		justify-content:space-around;
	}

	div.team {
		background-color: DodgerBlue;
		/* border-radius: 5px; */
	}

	#slider > div {
		background-color: #f1f1f1;
		width: 100%;
		margin: 10px;
		text-align: center;
		line-height: 75px;
		font-size: 30px;
	}

	div.member {
		width: 20%;
		text-align: center;
		background-color: aqua;
		margin: 5px;
		border-radius: 5px;
	}

	img {
		width: 210px;
		height: 210px;
		object-fit: cover;
		border-radius: 50%;
		margin: 5px;
	}

}